
<html>
	<head>
		<title>Globus Feneratus|BlackBox</title>
		<link rel="icon" type="image/ico" href="../img/FinClubIMI.PNG" />
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Open+Sans" rel="stylesheet">
		<link rel="stylesheet" href="../css/styles.css">
	</head>
	<body>
		<p class="big-title">BLACK BOX</p>
		&nbsp;
		<div id="container">
			<div><a href="countrystockdata.html"><button>DISPLAY STOCK DATA</button></a></div>
			<div><a href="teamscores.html"><button>VIEW SCORES</button></a></div>
			<!--  <div><a href="blackbox2"><button>ADD POINTS</button></a></div>
			<div><a href="blackbox3"><button>CHANGE STOCK DATA</button></a></div>
			<div><a href="changeteamname.html"><button>CHANGE TEAM NAMES</button></a></div> -->
		</div>
	</body>
</html>
