<html>
    <head>
        <title> GlFen | Stock Data </title>
                <link rel="icon" type="image/ico
" href=".. / img / FinClubIMI.png " />
                <link href="
https: //fonts.googleapis.com/css?family=Montserrat:900|Open+Sans" rel="stylesheet">
                <link rel="stylesheet" href="../css/countrydata.css">
                <link rel="stylesheet" href="../css/table.css">
                <script type="text/javascript" src="../js/stockdata.js"></script>
                <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState==='complete') this.onload()"></script>
                </head>

                <body onload="handleSignInClick()">
                    <p class="big-title">COUNTRY STOCK DATA</p>
                    <div id='country-select-holder' style="display: inline-block;"> <label style="margin-left:20px;">Country 1: <select id="country_name1" name="country_name1" onchange="loadStockTable1();">
                                <option value=-1>-</option>
                                <option>INDIA</option>
                                <option>GERMANY</option>
                                <option>AUSTRALIA</option>
                                <option>USA</option>
                            </select> </label></div>
                    <table class="container1" id="stockTable1">
                        <thead>
                            <tr>
                                <th>
                                    <h1>StockID</h1>
                                </th>
                                <th>
                                    <h1>Name</h1>
                                </th>
                                <th>
                                    <h1>Current Market Price</h1>
                                </th>
                                <th>
                                    <h1>Change</h1>
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id='country-select-holder' style="display: inline-block;"><label style="margin-left:20px;">Country 2: <select id="country_name2" name="country_name2" onchange="loadStockTable2();">
                                <option value=-1>-</option>
                                <option>UK</option>
                                <option>FRANCE</option>
                                <option>CHINA</option>
                            </select> </label></div>
                    <table class="container2" id="stockTable2">
                        <thead>
                            <tr>
                                <th>
                                    <h1>StockID</h1>
                                </th>
                                <th>
                                    <h1>Name</h1>
                                </th>
                                <th>
                                    <h1>Current Market Price</h1>
                                </th>
                                <th>
                                    <h1>Change</h1>
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </body>

                </html>
